html {
	background-image: url("https://st2.depositphotos.com/2873617/11234/v/950/depositphotos_112344188-stock-illustration-abstract-background-with-white-geometric.jpg");/*nos muestra la imagen de fondo para todo lo contenido en html*/
	background-attachment: fixed; /* Mueve la imagen cuando hago scroll*/
}

body {
    font-family: Arial, Helvetica, Sans-serif;
    color: black;
    text-align: center;
     }

img {
    max-width: 30%;
    height: auto;
}
button {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-weight: bold;
	text-transform: uppercase;
	background-color: #F9A91A;
	min-height: 36px; 
	min-width: 88px;
}
#secondScreen {
	display: none;
}
#thirdScreen{
	display: none;
}